# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
ENV/
env/
.idea/
.vscode/

# Test and coverage artifacts
.pytest_cache/
.coverage
htmlcov/

# OS / editor debris
.DS_Store
Thumbs.db

# Project outputs
*.log
# Large fixture files
/tests/data/testfile_*.f
/tests/data/testfile_*.s
